.idea
hugging_cache
data/*.jsonl
**/__pycache__
examples/WikiBio
examples/wiki_recent
.vscode
logs
results
outputs
scripts
vectors
**/.cache/
*.log
delta.txt
.history
**/.hydra/
**/.gradio/
**/temp/
**/*_test_reps*
*test_reps
*test_reps.*
# models
generation
judge
Qwen2.5-1.5B-Instruct
Qwen2.5-14B-Instruct
dental_qwen2.5_1.5b_lora
Qwen2.5-7B-Instruct
dental_qwen2.5_7b_lora
dental_qwen2.5_7b_choice_lora